body {
    margin-bottom: 0px;
    padding: 0px;
    background: url(flat-lay-spring-daisies-gerberas.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}
.Login-box {
    width: 320px;
    height: 420px;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    top: 15%;
    left: 35%;
    position: absolute;
    box-sizing: border-box;
    padding: 5%;
    transform: translate(0%,-10%);
    border-radius: 30px;
}
.user {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -10%;
    left: cac(50%, -50%);
    transform: translate(40%, 0%);

}
h1 {
    margin-top: 10%;
    padding-right: 18px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
}
p{
    margin-bottom: 10px;
    padding-right: 25px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
input {
    margin-bottom: 15px;
    width: 180px;
    padding-right: 10px;
}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: -30px;
    color: #fff;
    font-size: 15px;
}
 input[type="submit"]{
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    height: 40px;
    border-radius: 20px;
    background: rgb(68, 98, 233);
}
input[type="submit"]:hover {
    cursor: pointer;
    background: coral;
    color: #fff;
    
}
a {
    padding-left: 40px;
    color:black;

}
a :hover{
    cursor: pointer;
    background: aqua;
    color: rgb(27, 196, 196);
}





